*.class
*.merge-left*
*.merge-right*
*.mine
*.orig
*.prej
*.pyc
*.pyo
*.rej
*.working
*.o
.hg
.svn
.project
.cproject
_svn
svn-commit*.tmp
bin/*
src/*.asm
src/*.lst
src/*.sym
src/*.rel
tool/font/font
tool/convert/convert
tool/hex2bin/hex2bin
tool/namebin/namebin
tool/relink/relink
tool/reversion/reversion
src/linkmain_unix.lnk
src/*.bin
src/*.ihx
src/*.map
src/*.noi
sdcc*
